#Use this file to define settings related to application configuration
#Use this file to define settings that are ENVIRONMENT SPECIFIC and/or PRIVATE
#This file will be ignored by git
#Declarations in this file override declarations in config/settings.yml

# Used for generation links in emails
url:
  host: 
  port: 
# Email notifications to users sent from
notifications:
  from: 
# DPLA API URL and credentials
api:
  # Without trailing slash, please
  url: 
  # API key, will be added to all API requests as &api_key=
  key: 
exhibitions:
  # Omeka exhibition site address. Used for generating link
  site: 
  # Elasticsearch instance for searching exhibitions
  elasticsearch:
    host: 
    default_index: 
wordpress:
  # Wordpress site for building links to pages served by WP
   # NOTE: JSON API plugin is required to able read Wordpress feed as JSONP requests
  site: 
# Google Analytics account
googleanalytics:
  tracker: 
# Session settings
session:
  # Name of cookie indicator is user signed in or not
  # Useful for serving cached pages for guest users
  logged_in_flag: 
  # Store settings. cookie_store and dalli_store are available
  store: 
  key:
  # Settings for memcache sessions
  dalli_store:
    memcache_server:
widgets:
  twitter_username: 
  twitter_widget_id: 
  # Urls for social icons
  social_icons:
    facebook: 
    twitter: 
    tumblr: 
    rss: 

