#Use config/settings.local.yml to define variables related to application configuration
#config/settings.local.yml is IGNORED in git and is PRIVATE
#Declarations in config/settings.local.yml override declarations in config/settings.yml

# Used for generation links in emails
url:
  host: 
  port: 
# Email notifications to users sent from
notifications:
  from: 
# DPLA API URL and credentials
api:
  # Without trailing slash, please
  url: 
  # API key, will be added to all API requests as &api_key=
  key: 
exhibitions:
  # Omeka exhibition site address. Used for generating link
  site: 
  # Elasticsearch instance for searching exhibitions
  elasticsearch:
    host: 
    default_index: 
wordpress:
  # Wordpress site for building links to pages served by WP
   # NOTE: JSON API plugin is required to able read Wordpress feed as JSONP requests
  site: 
# Google Analytics account
googleanalytics:
  tracker: 
widgets:
  twitter_username: 
  twitter_widget_id: 
  # Urls for social icons
  social_icons:
    facebook: 
    twitter: 
    tumblr: 
    rss: 

